body.theme-dark {
  background-color: rgb(1, 39, 31);
  color: white;
}

body.theme-light {
  background-color: aquamarine;
}

.menuContainer {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 1rem;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menuContainer a {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0 1rem;
  transition: all 0.2s ease-in-out;
}

.menuContainer a:hover {
  color: #ff6347;
}

.footer {
  background-color: #b1f5b1;
  padding: 20px;
  color: #333;
  text-align: left;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.themeWrapper.theme-light {
  background-color: aquamarine;
}

.themeWrapper.theme-dark {
  background-color: rgb(1, 39, 31);
  color: white;
}

#newTaskWindow {
  visibility: hidden;
}
