<html>
    <head>
        <title>Les directives</title>
        <link rel="stylesheet" type="text/css" href="css/vue.css">
        <script src="js/vue.2.6.14.js"></script>
      </head>
<body>
  <h1>Les directives</h1>
  <div id="app" class="container">
    <!-- Boucler avec v-for-->
    <div>
      <h1>v-for</h1>
      <p>Faire une boucle</p>
      <ul>
          <li v-for="item in shoppingCart">
            <a v-bind:href="item.url">{{ item.label }} : {{ item.cost }}€</a>
          </li>
      </ul>
      <p>Total : {{totalAmount}} €</p>
  </div>
  <!-- Conditions avec v-if-->
  <div>
    <h1>v-if, v-else-if, v-else</h1>      
      <p v-if="shoppingCart[0].cost < 5">Le prix du premier article est inférieur à 5€</p>      
      <p v-else-if="shoppingCart[0].cost < 10">Le prix du premier article est inférieur à 10€</p>      
      <p v-else>Le prix du premier article est supérieur ou égal à 10€</p>
      <p>Faites un test en tapant <i>app.shoppingCart[0].cost = 12</i> dans la console</p>
  </div>
  <!-- Evénement click-->
  <div>
    <h1>@click</h1>
    <button @click="showModal = !showModal"><span v-if="showModal">Masquer</span><span v-else>Afficher</span></button>
    <div v-show="showModal" class="modal">On me voit !</div>
  </div>
  <!-- Evénement keyboard-->
  <div>
    <h1>@keyup</h1>
    <label for="inputName">Entrez votre nom</label>
    <input type="text" id="inputName" @keyup="updateName"/>
    <p v-show="nameToDisplay.length > 0">
      <span>Bonjour {{nameToDisplay}}</span>      
    </p>
  </div>
  <!-- Utilisation du modèle de données -->
  <div>
    <h1>v-model</h1>
    <label for="inputName">Entrez votre nom</label>
    <input type="text" id="inputNewName" v-model="newNameToDisplay"/>
    <p v-show="newNameToDisplay.length > 0">
      <span>Bonjour {{newNameToDisplay}}</span>      
    </p>
  </div>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            shoppingCart: [
                { label: 'Pommes', cost: 6, url: 'pommes.html' },
                { label: 'Bananes', cost: 2, url: 'bananes.html' },
                { label: 'Noix de coco', cost: 8, url: 'coco.html' }
            ],
            showModal: true,
            nameToDisplay : '',
            newNameToDisplay : ''
        },
        computed: {          
        totalAmount() {
          total = 0;
          this.shoppingCart.forEach(element => {
            total += element.cost;
          });
          return total;
        }
      },
      methods:{
        updateName(){          
          this.nameToDisplay = document.getElementById("inputName").value;          
        }
      }
    })
</script>
</body>
</html>